@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
}
.heading{
  width: 10000px;
  position: relative;
  top: 10%;
  left: 7%;
  color: white;
}
.heading h1{
  float: left;
  font-size: 35px;
}
.navbar{
  left: 5%;
}
.main-form {
  width: 550px;
  margin: auto;
  color: white;
  font-size: 20px;
}
.form-control{
  background: transparent;
  color: white;
}